.header {
    height: 375px;
    width: 100%;
    position: relative;
}

.back {
    z-index: 1000;
    position: absolute;
    left: 16px;
    top: 12px;
}

.photo {
    z-index: 999;
    text-align: center;
    position: relative;
}
.image {
    z-index: 999;
    width: 85%;
    margin-top: 25%;
    transform: rotate(-15deg);
}

.background{
    width: 100%;
    height: 100%;
    background: rgb(114, 113, 113);
    position: absolute;
    left: 105px;
    top: -30px;
    z-index: -1;
    border-radius: 0 0 16px 16px;
}