.back {
    font-weight: bold;
    font-size: 35px;
    margin: 10px;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.photo {
    width: 200px;
}

.invisible {
    visibility: hidden;
}